*{
	margin:0;
        padding:0;
}
body{
	font-family: 'Cabin';
	display:flex;
	flex-flow:column;
	justify-content:space-between;
	font-size:21px;
	color:#515152;
	background: url(cork.png);
}
h1, h2, h3, h4{
	font-family:'Josefin Sans';
}
/** header stuff */
header{
	padding:10px;
	padding-bottom:0;
	color:white;
	background: url(wood.png);
	box-shadow: 0 3px 2px -2px rgba(0,0,0,0.4);
	font-family:'Josefin Sans';
}
header .center-wrap{
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width:100%;
	max-width:1200px;
	margin:auto;
}
header h1{
	padding:0 10px;
	display:inline-block;
	font-size:27px;
}
header nav.main ul{
	padding:10px 0;
	display:flex;
	flex-flow:row;
	list-style:none;
}
header nav.main a{
	padding:10px;
	color:white;
	text-decoration: none;
}
/** content stuff */
.content{
	padding:10px;
	max-width:1200px;
	margin:auto;
	display:flex;
	flex-flow:column;
}
/** loast and found item list stuff */
.items-list {
	list-style:none;
	flex-flow: row wrap;
	display:flex;
	padding:10px;
	max-width:1200px;
	margin:auto;
	align-items:flex-end;
}
.items-list .item {
	margin:10px;
	max-width:30%;
	background:white;
	transition: transform .5s;
	box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.3);
}
.items-list .item a{
        color: inherit;
        text-decoration:none;
	display:block;
	transition:transform 1s;
}
.items-list .item .title{
	font-family:Josefin Sans;
	padding:10px 10px 0 10px;
	color: #B14242;
}
.items-list .item .sub {
	font-size:.8em;
    	display: flex;
    	flex-flow: row wrap;
    	justify-content: space-between;
	border-bottom: #3A563D solid 1px;
	padding:0 10px 5px 10px;
}
.items-list .item .sub .location{
	padding-right:20px;
}
.items-list .item .item-image {
    	width: 100%;
    	height: 150px;
    	background-repeat:no-repeat;
    	background-size: cover;
}
.items-list .description{
	padding:10px;
}
/** general form stuff */
form fieldset{
	border:none;
}
form p{
	padding:5px;
}
form p > label {
	font-size:.8em;
	display:block;
}
/** rotate classes */
.rotate1{
        transform: rotate(-1deg);
}
.rotate2{
        transform: rotate(1deg);
}
.rotate0:hover{
	transform: rotate(-1deg);
}
.rotate1:hover{
        transform: rotate(1deg);
}
.rotate2:hover{
        transform: rotate(0deg);
}


