*{
	margin:0;
        padding:0;
}
body{
	font-family: 'Cabin';
	display:flex;
	flex-flow:column;
	justify-content:space-between;
	font-size:21px;
	color:#515152;
	background: url(cork.png);
}
h1, h2, h3, h4{
	font-family:'Josefin Sans';
}
/** header stuff */
header{
	padding:10px;
	padding-bottom:0;
	color:white;
	background: url(wood.png);
	box-shadow: 0 3px 2px -2px rgba(0,0,0,0.4);
	font-family:'Josefin Sans';
}
header .center-wrap{
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width:100%;
	max-width:1200px;
	margin:auto;
}
header h1{
	padding:0 10px;
	display:inline-block;
	font-size:27px;
}
header h1 a{
	text-decoration:none;
	color:white;
}
header nav.main ul{
	padding:10px 0;
	display:flex;
	flex-flow:row;
	list-style:none;
}
header nav.main a{
	padding:10px;
	color:white;
	text-decoration: none;
}
/** content stuff */
.content{
	padding:10px;
	max-width:1200px;
	margin:auto;
	display:flex;
	flex-flow:column;
}
.content ~ .content{
	border-top:1px solid #515152;
}
/** lost and found item list stuff */
.items-list {
	list-style:none;
	flex-flow: row wrap;
	display:flex;
	padding:10px;
	max-width:1200px;
	margin:auto;
	align-items:flex-end;
}
.items-list .item {
	margin:10px;
	max-width:30%;
	background:white;
	transition: transform .5s;
	box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.3);
}
.items-list .item a{
        color: inherit;
        text-decoration:none;
	display:block;
	transition:transform 1s;
}
.items-list .item .title{
	font-family:Josefin Sans;
	padding:10px 10px 0 10px;
}
.items-list .item.Lost .title:before{
	content:'Lost: ';
	color:#B14242;
}
.items-list .item.Found .title:before{
        content:'Found: ';
        color:#3B9071;
}
.items-list .item .sub {
	font-size:.8em;
    	display: flex;
    	flex-flow: row wrap;
    	justify-content: space-between;
	border-bottom: #3A563D solid 1px;
	padding:0 10px 5px 10px;
}
.items-list .item .sub .location{
	padding-right:20px;
}
.items-list .item .item-image {
    	width: 100%;
    	height: 150px;
    	background-repeat:no-repeat;
    	background-size: cover;
}
.items-list .description{
	padding:10px;
}
/** alert stuff */
.alert-list{
	display:flex;
	flex-flow: row wrap;
	align-items: flex-start;
}
.alert-list .alert{
	background:white;
	flex-flow: column wrap;
	padding:5px;
	margin:10px;
}
/** general form stuff */
form fieldset{
	border:none;
}
form p{
	padding:2px;
}
form p > label {
	display:block;
}
form button, form input, form textarea, form select{
	font-size:.9em;
	background:#fafafa;
	padding: 2px 5px;
	border:1px solid #ccc;
    	font-family: Cabin;
	color:#515152;
    	border-radius:5px;
}
form input#image{
	background:none;
	border:none;
}
form label{
	margin-right:10px;
	font-size:.999999999em;
}
form label input{
	margin-right:5px;
}
form button{
	cursor:pointer;
	padding:2px 10px;
	border:none;
	box-shadow:inset 0px 0px 0px #DEDEDE, 0px 2px 0px 0px #DEDEDE, 0px 2px 1px #BDBCBC;
	transition:background .5s, box-shadow .5s;
}
form button:hover{
	background:#BDF1B3;
	box-shadow:inset 0px 0px 0px #BDF1B3, 0px 2px 0px 0px #7EAD74, 0px 2px 1px #BDBCBC;
}
/** admin stuff */
nav.admin-nav {
    margin: auto;
    text-align:center;
}
nav.admin-nav a{
    text-decoration:none;
    padding:0 20px;
}
/** rotate classes */
.rotate1{
        transform: rotate(-1deg);
}
.rotate2{
        transform: rotate(1deg);
}
.rotate0:hover{
	transform: rotate(-1deg);
}
.rotate1:hover{
        transform: rotate(1deg);
}
.rotate2:hover{
        transform: rotate(0deg);
}


